body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('https://marketplace.canva.com/EAFBe2Su9es/1/0/1131w/canva-blue-aesthetic-leaf-paper-border-b_RDkLP9Zt0.jpg');
background-size: cover;
}
/* outer container */
.container{
    margin-top: 50%;
    height: 60vh;
    width:300px ;
  background-image: url('https://images.rawpixel.com/image_800/cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDIzLTA0L3JtNDUyLWYtMDE0LWJhY2tncm91bmRiLmpwZw.jpg');
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    border-radius: 2rem;
    background-size: cover;
    
}
/* list container */
.dropdowncontainer{
    height: 55px;
    width: 210px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: beige;

}
/* options */
.select{
    margin-left: 9px;
    font-family: sans-serif;
    color: rgb(20, 97, 20);
    font-weight: 900;
}
.icon{
    margin-right: 10px;
    
}
/* list container */
.list{
    height: auto;
    width: 210px;
    list-style-type: none;
   background-image: url('https://marketplace.canva.com/EAFdY-hVvKs/1/0/1131w/canva-beige-white-aesthetic-paper-notes-background-a4-document-QDBlYAjBN24.jpg');
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-size: cover;

    
}
/* items */
.listitem{
    margin-top: 20px;
   height: 30px;
   width: 70px;
   background-image: linear-gradient(to right, #CC95C0 0%, #DBD4B4  51%, #CC95C0  100%);
    cursor: pointer;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: rgb(52, 50, 50);            
    box-shadow: 0 0 20px #eee;
    
}
         

 
.selected{
    margin-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
   height: 60px;
   width: 200px;
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQWyNvBpiXfP1Qb-jzDX8oMRY9BDzvp5l3HcA&usqp=CAU');
    background-size: cover;
    color: white;
    font-weight: 900;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 3rem;
}
.headingtext{
    
    background: -webkit-linear-gradient(#123209, #bd8e8e);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}